
body {
  margin: 0;
  background-color: #dadada;
}

.bold {
  font-weight: bold;
}
.content {
	margin-left:15%;
  padding:1px 16px;
  height:1000px;
	font-family:'Times New Roman', Times, serif;
}

/*drop down table styling*/
.drpbutton {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
  }
  
.show {
  display: block;
}

/* Nav bar */

ul {
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  border-right-style: ridge;
  border-width: 2px;
  border-color:black;
}

li a {
  font-size: 120%;
  display: block;
  color: #000;
  padding: 20px 16px;
  text-decoration: none;
}

ul :hover {
  background-color: rgb(190, 189, 189);
}

/* Forms */

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #b8b8b8;
}

.forms {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

/* tables */

table, td, th {
  border: 1px solid;
  border-radius: 10px;
}

td, th {
  padding: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.tables {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}



