
<body class="errorbody">

    <div class="error">
        <div class="content">
        <h1>500</h1>
        <h3>Internal Server Error</h3>
        <a href="/" >Home</a>
        </div>
    </div>
    
</body>
    
<style>
    .errorbody {
        background-color: #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
    .error {
        background-color: #ffffff;
        text-align: center; 
        padding: 5%;
        border-radius: 5%;
    }
        
    h1 {
        font-size: 100px;
        margin: 0;
    }

    a {
        padding: 10px 20px;
        display: inline-block;
        border: 1px solid #000000;
        border-radius: 5px;
        background-color: #4CAF50;
        box-sizing: border-box;
        cursor: pointer;
        color: #000000;
        text-decoration: none;
    }
        
    a:hover {
        background-color: #00ff66;
    }
    
</style>