{% extends 'layout.html' %}


{% block content %}


<h1>gymnast</h1>

<!--Form to add gymnasts to the database-->
<form id = registor>
    <p> Name: <input type="text" name = "registorname" placeholder="john" required></p>
    <input type="submit" />
</form>

<p> </p>

<!--view registerd gymnasts-->
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
    </tr>
    {% for row in regdata %}
    <tr>
        {% for col in row  %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<!--edit registered gymnasts-->
<form id = editgymnast>
    <p> id: <input type="number" name = "id" placeholder="1" required></p>
    <p> Name: <input type="text" name = "newname" placeholder="john" required></p>
    <input type="submit" />
</form>

{% endblock %}
