{% extends 'layout.html' %}

{% block content %}
<div class="content">

    <!-- Registering a new gymnast -->
    <div class="forms">
        <h3>Register Gymnast</h3>
        <!-- Form to add gymnasts to the database -->
        <form id="registor">
            <p> Name: <input type="text" name="registorname" placeholder="Enter Gymnast Name" required></p>
            <p>
                Level: 
                <select name="registorlevel" required>
            </p>
            <!-- Dropdown options for gymnast levels -->
            <option value="" disabled selected hidden>Select Level</option>
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
            <option value="4">Level 4</option>
            <option value="5">Level 5</option>
            <option value="6">Level 6</option>
            <option value="7">Level 7</option>
            <option value="8">Level 8</option>
            <option value="9">Level 9</option>
            </select>
            <input type="submit" />
        </form>
    </div>

    <p></p>
    <p></p>

    <!-- View registered gymnasts -->
    <div class="tables">
        <table>
            <tr>
                <!-- Table header for the list of registered gymnasts -->
                <th id="tableheader" colspan="3">Registered Gymnasts</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Level</th>
            </tr>
            <!-- Loop through 'regdata' to fill the table rows -->
            {% for row in regdata %}
            <tr>
                {% for i in row %}
                <td>{{ i }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <!-- Display delete error message -->
        {% if delete_error %}
        <p style="color: red;">{{ delete_error }}</p>
        {% endif %}
    </div>

    <p></p>

    <!-- Deleting a gymnast -->
    <div class="forms">
        <h3>Delete</h3>
        <form id="delete">
            <p> ID: <input type="number" name="deleteid" placeholder="Enter Gymnast ID (Found in table above)" required></p>
            <input type="submit" value="Delete">
        </form>
    </div>

    <!-- Editing an existing gymnast -->
    <div class="forms">
        <h3>Edit Registered Gymnasts</h3>
        <!-- Form to edit registered gymnasts -->
        <form id="editgymnast">
            <p> ID: <input type="number" name="id" placeholder="Enter Gymnast ID (Found in table above)" required></p>
            <p> Name: <input type="text" name="newname" placeholder="Enter Gymnast Name" required></p>
            <p>
                Level: 
                <select name="newlevel" required>
            </p>
            <!-- Dropdown options for gymnast levels -->
            <option value="" disabled hidden selected>Select Level</option>
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
            <option value="4">Level 4</option>
            <option value="5">Level 5</option>
            <option value="6">Level 6</option>
            <option value="7">Level 7</option>
            <option value="8">Level 8</option>
            <option value="9">Level 9</option>
            </select>
            <input type="submit">
        </form>
        <!-- Display error message -->
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>

    <p></p>
    <p></p>
    <p></p>

</div>
{% endblock %}
