{% extends 'layout.html' %}


{% block content %}
    

<div class = "content">

    <p></p>
    <h2>Registor Gymnast</h2>
    <p></p>

    <div class = "forms">
        <!--Form to add gymnasts to the database-->
        <form id = registor>
            <p> Name: <input type="text" name = "registorname" placeholder="john" required></p>
            <input type="submit" />
        </form>
    </div>

    <p></p>
    <p></p>

    <!--view registerd gymnasts-->
    <div class = "tables">
        <table>
            <tr>
                <th>id</th>
                <th>Name</th>
            </tr>
            {% for row in regdata %}
            <tr>
                {% for col in row  %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <p></p>
    <h2>Edit Registered Gymnasts</h2>
    <p></p>

    <div class = "forms">
        <!--edit registered gymnasts-->
        <form id="editgymnast">
            <p> id: <input type="number" name="id" placeholder="1" required></p>
            <p> Name: <input type="text" name="newname" placeholder="john" required></p>
            <input type="submit">
        </form>

        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        <p> </p>
        <p> </p>
        <p> </p>
    </div>
    
</div>

{% endblock %}
