{% extends 'layout.html' %} 
{% block content %}
<div class="content">

  <h2>Instructions</h2>
  
  <!-- Step 1: Adding Gymnasts -->
  <div id="step1">
    <h3>Step 1</h3>
    <p>
      First, add some gymnasts. Go to the 'register gymnast' page and enter the details to add a gymnast. Your gymnast will then appear in the table below. To make changes to a gymnast's information, use the form at the bottom of the page.
    </p>
  </div>
  
  <!-- Step 2: Adding Scores -->
  <div id="step2">
    <h3>Step 2</h3>
    <p>
      Next, add some scores. Go to the 'Add scores' page where you’ll see a table with your registered gymnasts. Enter the gymnast’s score below the table. The score will be added to the table. To edit a score, use the form at the bottom of the page.
    </p>
  </div>
  
  <!-- Step 3: Viewing the Leaderboard -->
  <div id="step3">
    <h3>Step 3</h3>
    <p>
      After adding gymnasts and scores, check out the leaderboard. Go to the leaderboard page and choose the level.
    </p>
  </div>
  
  <!-- Step 4: Adding More Data -->
  <div id="step4">
    <h3>Step 4</h3>
    <p>
      You can now add more gymnasts and scores. If needed, you can also update the existing gymnasts and scores.
    </p>
  </div>

</div>
{% endblock %}

