{% extends 'layout.html' %}


{% block content %}

<div class = "content">
    <h1>home</h1>

    <div id="step1">
        <h3>Step 1</h3>
        <p>First add some gymnasts, go to the 'registor gymnast' page and add a gymnast in the first box. Then your gymnast should be added to the table below. If you want to edit your gymnast you can do this via the form at the bottom of the page</p>
    </div>

    <div id="step2">
        <h3>Step 2</h3>
        <p>Secondly add some scores, go to the 'Add scores' page and you should see a table that shows all your registered gymnasts, underneath you can add your gymnasts score. After doing this you gymnasts score should be added to the table below. If you want to edit your gymnasts score you can do this via the form at the bottom of the page.</p>
    </div>

    <div id="step3">
        <h3>Step 3</h3>   
        <p>After you have completed step 1 and 2 you can now view the leaderboard. go to the leaderboard page and then click which leaderboard you want to see.</p>
    </div>

    <div id="step4">
        <h3>Step 4</h3>
        <p>You can now add more gymnasts and scores. If you want you can go back and edit your gymnast and scores.</p>
    </div>
</div>

{% endblock %}
