{% extends 'layout.html' %} {% block content %}
<div class="content">
  <h2>Instructions</h2>
  <div id="step1">
    <h3>Step 1</h3>
    <p>
      First, add some gymnasts. Navigate to the 'register gymnast' page and fill
      in the details to add a gymnast to the first box. After that, your gymnast
      should appear in the table below. If you need to make changes to your
      gymnast's information, you can do so using the form at the bottom of the
      page.
    </p>
  </div>
  <div id="step2">
    <h3>Step 2</h3>
    <p>
      Secondly, add some scores. Navigate to the 'Add scores' page, where you
      will find a table displaying your registered gymnasts. Below the table,
      you can input your gymnast's score. Once you do this, the gymnast's score
      should be added to the table underneath. If you need to edit the score,
      you can do so using the form at the bottom of the page.
    </p>
  </div>
  <div id="step3">
    <h3>Step 3</h3>
    <p>
      After completing steps 1 and 2, you can access the leaderboard. Visit the
      leaderboard page and select the level
    </p>
  </div>
  <div id="step4">
    <h3>Step 4</h3>
    <p>
      You can now add additional gymnasts and scores. If you wish, you can
      revisit and modify your gymnasts and scores.
    </p>
  </div>
</div>
{% endblock %}
