{% extends 'layout.html' %}


{% block content %}


<h1>leaderboard</h1>

<!--Table to display the all around leaderboard-->
<h3>All Around</h3>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Score</th>
    </tr>
    {% for row in overalldata %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<!--Table to display the floor leaderboard-->
<h3>Floor</h3>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Execution</th>
        <th>Difficulty</th>
        <th>Total</th>
    </tr>
    {% for row in floordata %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<!--Table to display the pommel leaderboard-->
<h3>Pommel</h3>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Execution</th>
        <th>Difficulty</th>
        <th>Total</th>
    </tr>
    {% for row in pommeldata %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<!--Table to display the rings leaderboard-->
<h3>Rings</h3>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Execution</th>
        <th>Difficulty</th>
        <th>Total</th>
    </tr>
    {% for row in ringsdata %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<!--Table to display the vault leaderboard-->
<h3>Vault</h3>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Execution</th>
        <th>Difficulty</th>
        <th>Total</th>
    </tr>
    {% for row in vaultdata %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<!--Table to display the Parallel bars leaderboard-->
<h3>Parallel bars</h3>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Execution</th>
        <th>Difficulty</th>
        <th>Total</th>
    </tr>
    {% for row in pbardata %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<!--Table to display the high bar leaderboard-->
<h3>High bar</h3>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Execution</th>
        <th>Difficulty</th>
        <th>Total</th>
    </tr>
    {% for row in highbardata %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
