{% extends 'layout.html' %}
{% block content %}
<div class="content">

    <h2 id="leadtitle">Level {{ level }}: All Around</h2>

    <div class="appheader">

        <!-- Loop through results.apparatus and create a link for each -->
        {% for app in result.apparatus %}
        <a class="applinks" href="/apparatuslead/{{ level }}/{{ app[0] }}">{{ app[1] }}</a>
        {% endfor %}

    </div><!-- appheader -->

    <div class="leadtable">

        <table>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Total Score</th>
            </tr>
            <!-- Loop through results.all_leaderboard to fill table rows -->
            {% for row in result.all_leaderboard %}
            <tr>
                {% for col in row %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>

    </div><!-- leadtable -->

    {% endblock %}